@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

/* RESET */
* {
    margin: 0;
	padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Open Sans", Verdana, sans-serif;
    color: var(--wht);
}

a {
    display: inline-block;
}


/* VARIABLES */
:root {
    --blk: rgb(30, 32, 33);
    --wht: rgb(255, 255, 255);
    --gry: rgb(232, 234, 233);
    --blu: rgb(36, 173, 227);

    --reg: 400;
    --semi: 600;
    --bold: 700;
}


/* GLOBAL */
body {
    background-color: var(--blk);
}

section {
    padding-left: 70px;
    padding-right: 70px;
}

#header {
    padding-top: 50px;
    background-color: var(--blk);
    padding-left: 70px;
    padding-right: 70px;
}

.header-wrapper {
    border-bottom: 5px solid var(--blu);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.head-logo {
    width: 350px;
    padding-top: 10px;
}

.nav-li {
    display: inline-block;
    margin-left: 30px;
}

.nav-link {
    font-weight: var(--bold);
    padding: 10px;
    border: 1px solid var(--blk);
    transition: .3s ease;
}

.nav-link:hover {
    color: var(--blu);
    border: 1px solid var(--blu);
}

.nav-download {
    background-color: var(--blu);
    border: 1px solid var(--blu);
}

.nav-download:hover {
    color: var(--blu);
    border: 1px solid var(--blu);
    background-color: var(--blk);
}

.menu-toggle {
    font-size: 175%;
    display: none !important;
    cursor: pointer;
    color: var(--blu);
}

#footer {
    background-color: var(--blk);
    padding: 0 70px;
}

#footer ul li {
    display: inline-block;
}

.footer-wrapper {
    border-top: 5px solid var(--blu);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.fa-linkedin, .fa-github {
    padding: 5px;
    font-size: 200%;
    transition: .3s ease;
}

.fa-github {
    padding-right: 0;
}

.fa-linkedin:hover, .fa-github:hover {
    color: var(--blu);
}

.button {
    display: inline-block;
    background-color: var(--blu);
    padding: 10px;
    font-weight: var(--bold);
    border: 1px solid var(--blu);
    text-align: center;
    transition: .3s ease;
}

.button:hover {
    color: var(--blu);
    border: 1px solid var(--blu);
    background-color: var(--blk);
}

.button-dark {
    background-color: var(--blk);
    border: 1px solid var(--blk);
    display: inline-block;
    padding: 10px;
    font-weight: var(--bold);
    text-align: center;
    transition: .3s ease;
}

.button-dark:hover {
    color: var(--blk);
    border: 1px solid var(--blk);
    background-color: var(--blu);
}

p {
    padding-bottom: 20px;
    font-size: 110%;
}

h1 {
    font-size: 300%;
    padding-top: 60px;
    padding-bottom: 40px;
}

.h1-thin {
    font-weight: var(--reg);
}

h2 {
    font-size: 400%;
    padding-top: 60px;
}

h3 {
    margin-bottom: 10px;
}

.italic {
    color: var(--blu);
}

.small-text {
    font-size: 50%;
}

.blue-text {
    color: var(--blu);
}

.triangle { /* https://css-tricks.com/snippets/css/css-triangle/ | Chris Coyier on Oct 6, 2009 (Updated on Sep 29, 2016) */
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 15px solid var(--blu);
    margin-bottom: 2px;
}

.underline-blu {
    border-top: 5px solid var(--blu);
    width: 80px;
}

.underline-blk {
    border-top: 5px solid var(--blk);
    width: 80px;
}

#hm-main .heading {
    grid-area: 1 / 1 / 2 / 4;
    padding-bottom: 50px;
}


/* Global - Project Pages */
#project-main .heading {
    grid-area: 1 / 1 / 2 / 3;
    padding-bottom: 80px;
}

#project-description {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
}

#project-description p {
    max-width: 700px;
}

#project-description ul {
    padding: 20px 0;
}

#project-description .triangle-container {
    padding-top: 50px;
    padding-bottom: 50px;
}

#project-main img {
    width: 100%;
}

#project-mockups {
    background-color: var(--blu);
}

#project-mockups, #project-wireframes {
    min-height: 50vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 30px;
    padding-bottom: 100px;
}

#project-buttons {
    text-align: center;
    padding-bottom: 50px;
    background-color: var(--blk);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.previous-button {
    width: 95px;
    grid-column: 1/2;
    justify-self: start;
}

.next-button {
    width: 95px;
    grid-column: 2/3;
    justify-self: end;
}

.project-btn-link {
    display: inline-block;
}

.project-btn-link:first-child {
    margin-right: 10px;
}


/* Home - about-section*/
#about-section {
    min-height: 50vh;
    background-color: var(--blk);
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(2, auto);
    gap: 30px;
    align-items: start;
    padding-top: 100px;
    padding-bottom: 100px;
}

.bio {
    padding: 0;
}

#about-section .triangle-container {
    grid-area: 2 / 2 / 3 / 3;
}

.about-portrait {
    width: 80%;
    margin-top: 23px;
    /* border-radius: 50%; */
    box-shadow: 10px 10px var(--blu);
}

#about-section p {
    max-width: 850px;
}

#about-section h2 {
    padding-top: 0;
    padding-bottom: 30px;
}


/* Home - work-section*/
#work-section {
    padding-bottom: 100px;
    background-color: var(--blu);
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-template-rows: auto;
    gap: 40px;
    align-items: end;
}

#work-section a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-color: var(--gry);
    padding: 10px;
    box-shadow: 0 5px 5px 2px rgba(30, 32, 33, .2);
}

#work-section a h3 {
    border-left: 5px solid var(--blu);
    padding-left: 10px;
    margin-bottom: 15px;
    color: var(--blk);
}

#work-section a:hover h3 {
    border-left: 5px solid var(--blk);
}

#work-section a img {
    width: 100%;
    background-color: var(--gry);
}

#work-section a {
    transition: .3s ease;
}

#work-section a:hover {
    z-index: 1;
    transform: scale(1.02);
    box-shadow: 0 6px 6px 3px rgba(30, 32, 33, .2);
}


/* Home - contact-section*/
#contact-section {
    min-height: 40vh;
    background-color: var(--blk);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 60px;
}

#contact-section a {
    width: 105px;
}

#contact-section p {
    max-width: 670px;
    padding-top: 40px;
}


/* Project - 1 - */
#project-1 #project-mockups, #project-1 #project-wireframes {
    display: block;
}

#project-1 article {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 30px;
    align-items: start;
    padding-bottom: 50px;
}

#project-1 #project-mockups > article,
#project-1 #project-wireframes > article {
    padding-top: 30px;
}

#project-1 h3 {
    grid-area: 1 / 1 / 2 / 4;
    color: var(--blk);
    border-bottom: 2px solid var(--blk);
}

#project-wireframes h3 {
    grid-area: 1 / 1 / 2 / 4;
    color: var(--blu);
    border-bottom: 2px solid var(--blu);
}

#project-1 article:last-of-type {
    grid-template-columns: repeat(4, 1fr);
}

#project-1 article:last-of-type h3 {
    grid-area: 1 / 1 / 2 / 5;
}


/* Project - 2 - */
.tutorial-img{
    margin-top: 10px;
    margin-bottom: 20px;
}

#project-2 #project-buttons {
    padding-top: 50px;
}


/* Project - 3 - */
.project-3-mockup {
    grid-area: 2 / 1 / 3 / 3;
    max-width: 1024px;
    justify-self: center;
}

.project-3-buttons {
    padding-top: 50px;
}


/* Project - 4 - */
#project-4 #project-mockups .heading {
    grid-area: 1 / 1 / 2 / 5;
}

#project-4 #project-mockups {
    grid-template-columns: repeat(4, 1fr);
}

.project-4-gif {
    grid-area: 2 / 1 / 3 / 3;
    max-width: 500px;
    justify-self: center;
}


/* Project - 5 - */
#project-5 figure {
    grid-area: 2 / 1 / 3 / 3;
    max-width: 1000px;
    justify-self: center;
}

#project-5 #project-buttons {
    padding-top: 50px;
}

#project-5 .button-dark {
    margin-top: 5px;
}


/** Mobile Nav */
@media screen and (max-width: 900px) {
    #header {
        padding-top: 10px;
    }
    
    .header-wrapper {
        height: 60px;
        padding-top: 10px;
        padding-bottom: 0;
        align-items: flex-start;
    }
    
    .logo-link {
        width: 200px;
    }
    
    .head-logo {
        width: 100%;
        padding-top: 0;
    }

    .menu-toggle {
        display: block !important;
    }

    nav {
        justify-self: center;
        position: fixed;
        width: 100%;
        background-color: var(--blk);
        top: 125px;
        right: 0;
        text-align: right;
        height: 100vh;
        display: none;
        z-index: 1;
    }

    .nav-ul {
        padding: 40px 70px;
    }

    .nav-li {
        display: block;
        padding: 20px 0;
    }

    nav.close {
        display: none;
    }

    .no-scroll {
        overflow: hidden;
    }
}


/** Tiny Screen */
@media screen and (max-width: 374px) {
    body {
        display: flex;
        flex-direction: column;
    }

    #footer, .footer-wrapper {
        display: flex;
        flex-direction: column;
        padding: 10px;
        align-items: start;
    }

    #header {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    .header-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        padding-bottom: 10px;
    }

    .fa-linkedin {
        padding-left: 0;
    }

    #about-section, #work-section, #contact-section, #project-mockups, #project-wireframes, #project-description {
        display: flex;
        flex-direction: column;
        padding: 0 10px 80px 10px;
        align-items: start;
    }

    #project-mockups article, #project-wireframes article {
        display: flex;
        flex-direction: column;
        padding: 10px;
        align-items: start;
        gap: 10px
    }

    h1, h2 {
        font-size: 200%;
    }

    #project-buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px;
    }
}


/* MOBILE */
@media screen and (min-width: 375px) and (max-width: 730px)  {
    /* Mobile - Global */
    h1 {
        font-size: 250%;
    }

    h2 {
        font-size: 350%;
    }

    section, #header, #footer {
        padding-left: 25px;
        padding-right: 25px;
    }

    .nav-ul {
        padding: 30px 25px;
    }

    .footer-wrapper {
        flex-direction: column-reverse;
        align-items: start;
        gap: 15px;
        padding-top: 15px;
        padding-bottom: 10px;
    }

    .footer-wrapper p {
        font-size: 70%;
    }

    .fa-linkedin {
        padding-left: 0;
    }

    #about-section {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
        gap: 30px 0;
        padding-top: 60px;
        padding-bottom: 60px;
    }
    
    .bio {
        padding: 0;
        grid-area: 2 / 1 / 2 / 3;
    }
    
    #about-section .triangle-container {
        grid-area: 3 / 1 / 4 / 2;
    }
    
    .about-portrait {
        width: 40%;
        padding-top: 0;
        grid-area: 1 / 1 / 2 / 2;
    }
    
    #about-section h2 {
        font-size: 250%;
    }

    
    /* Home - work-section*/
    #work-section {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 15px;
        align-items: end;
    }
    
    #work-section > .heading {
        grid-area: 1 / 1 / 2 / 3;
    }


    /** Project-1 */
    #project-1 article {
        gap: 10px;
    }


    /** Project-2 */
    #project-2 #project-mockups {
        grid-template-columns: 1fr;
        gap: 50px;
    }

    #project-2 h3 {
        margin: 0;
    }

    .tutorial-img {
        margin: 5px 0;
    }

    #project-2 #project-mockups .heading {
        grid-area: 1 / 1 / 2 / 2;
    }


    /** Project-4 */
    #project-4 #project-mockups {
        gap: 20px;
        grid-template-columns: repeat(3, 1fr);
    }

    #project-4 #project-mockups .heading {
        grid-area: 1 / 1 / 2 / 4;
    }


    /** Project-5 */
    #project-5 .ux-testing {
        grid-template-columns: 1fr;
        gap: 40px;
    }

    #project-5 .ux-testing .heading {
        grid-area: 1 / 1 / 2 / 2;
    }

    #project-5 .ux-testing h3 {
        margin-bottom: 5px;
    }

    #project-5 .ux-testing p {
        padding-bottom: 5px;
    }
}


@media screen and (min-width: 900px) {
    #project-4 #project-mockups {
        grid-template-columns: repeat(6, 1fr);
    }

    #project-4 #project-mockups .heading {
        grid-area: 1 / 1 / 2 / 7;
    }
}


/** Large Screens */
@media screen and (min-width: 2000px) {
    body {
        margin: 0 auto;
        max-width: 3000px;
        font-size: 150%;
    }

    .head-logo {
        width: 600px;
    }

    #header, #footer, #about-section, #work-section, #contact-section, 
    #project-mockups, #project-wireframes, #project-description, #project-buttons {
        padding-left: 200px;
        padding-right: 200px;
    }

    #header, #footer, #about-section, #work-section,
    #project-mockups, #project-wireframes, #project-description, #project-buttons, #project-1 article {
        gap: 100px;
    }

    #contact-section a {
        width: 155px;
    }

    #project-description p {
        max-width: 1000px;
    }

    .previous-button, .next-button {
        width: 130px;
    }

    .project-3-mockup {
        max-width: 1500px;
    }

    .project-4-gif {
        max-width: 800px;
    }

    #project-5 figure {
        max-width: 1500px;
    }
}