@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

/* RESET */
* {
    margin: 0;
	padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Open Sans", Verdana, sans-serif;
    color: var(--wht);
}

a {
    display: inline-block;
}

/* VARIABLES */
:root {
    --blk: rgb(30, 32, 33);
    --wht: rgb(255, 255, 255);
    --gry: rgb(232, 234, 233);
    --blu: rgb(36, 173, 227);

    --reg: 400;
    --semi: 600;
    --bold: 700;
}


/* GLOBAL */
body {
    background-color: var(--blk);
    padding-top: 50px;
}

#header {
    height: 100px;
    background-color: var(--blk);
    padding-left: 70px;
    padding-right: 70px;
}

.header-wrapper {
    border-bottom: 5px solid var(--blu);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.head-logo {
    width: 350px;
}

.nav-li {
    display: inline-block;
}

.nav-link {
    font-weight: var(--bold);
    padding: 10px;
    border: 1px solid var(--blk);
}

.nav-link:hover {
    color: var(--blu);
    border: 1px solid var(--blu);
}

.nav-download {
    background-color: var(--blu);
    border: 1px solid var(--blu);
}

.nav-download:hover {
    color: var(--blu);
    border: 1px solid var(--blu);
    background-color: var(--blk);
}

.nav-ul > li {
    margin-right: 20px;
}

#footer {
    background-color: var(--blk);
    padding: 0 70px;
}

#footer ul li {
    display: inline-block;
}

.footer-wrapper {
    border-top: 5px solid var(--blu);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.fa-linkedin, .fa-github {
    padding: 5px; /* adjust footer padding-right */
    font-size: 200%;
}

.fa-linkedin:hover, .fa-github:hover {
    color: var(--blu);
}

.button {
    display: inline-block;
    background-color: var(--blu);
    padding: 10px;
    font-weight: var(--bold);
    border: 1px solid var(--blu);
}

.button:hover {
    color: var(--blu);
    border: 1px solid var(--blu);
    background-color: var(--blk);
}

p {
    padding-bottom: 20px;
    font-size: 110%;
}

h1 {
    font-size: 300%;
    padding-top: 60px;
    padding-bottom: 40px;
}

.h1-thin {
    font-weight: var(--reg);
}

h2 {
    font-size: 400%;
    padding-top: 60px;
}

h3 {
    padding-bottom: 10px;
}

.italic {
    color: var(--blu);
}

.blue-text {
    color: var(--blu);
}

.triangle { /* https://css-tricks.com/snippets/css/css-triangle/ | Chris Coyier on Oct 6, 2009 (Updated on Sep 29, 2016) */
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 15px solid var(--blu);
    margin-bottom: 2px;
}

.underline-blu {
    border-top: 5px solid var(--blu);
    width: 80px;
}

.underline-blk {
    border-top: 5px solid var(--blk);
    width: 80px;
}

#hm-main .heading {
    grid-area: 1 / 1 / 2 / 4;
    padding-bottom: 50px;
}


/* Global - Project Pages */
#project-main .heading {
    grid-area: 1 / 1 / 2 / 3;
    padding-bottom: 80px;
}

#project-description {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
}

#project-description p {
    max-width: 700px;
}

#project-description ul {
    padding: 20px 0;
}

#project-description .triangle-container {
    padding-top: 50px;
    padding-bottom: 20px;
}

#project-main img {
    width: 100%;
}

#project-mockups {
    background-color: var(--blu);
}

#project-mockups, #project-wireframes {
    min-height: 100vh;
    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 30px; */
    padding-bottom: 100px;
}

#project-buttons {
    padding-bottom: 50px;
    background-color: var(--blk);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.previous-button {
    grid-column: 1/2;
    justify-self: start;
}

.next-button {
    grid-column: 2/3;
    justify-self: end;
}

.project-btn-link {
    display: inline-block;
}

.project-btn-link:first-child {
    margin-right: 10px;
}

/* Home - about-section*/
section {
    padding-left: 70px;
    padding-right: 70px;
}

#about-section {
    min-height: 100vh;
    background-color: var(--blk);
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 2fr 1fr;
    gap: 30px;
    align-items: start;
    padding-top: 100px;
}

.bio {
    padding: 0;
}

#about-section .triangle-container {
    grid-area: 2 / 2 / 3 / 3;
}

.about-portrait {
    width: 80%;
    padding-top: 23px;
}

#about-section p {
    max-width: 800px;
}

#about-section h2 {
    padding-top: 0;
    padding-bottom: 30px;
}

/* Home - work-section*/
#work-section {
    min-height: 100vh;
    padding-bottom: 100px;
    background-color: var(--blu);
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-template-rows: auto;
    gap: 40px;
    align-items: end;
}

#work-section > h2 {
    grid-column: 1/4;
}

#work-section a {
    border-top: 5px solid var(--blu);
}

#work-section a:hover {
    border-top: 5px solid var(--blk);
}

#work-section a:hover h3 {
    color: var(--blk);
}

#work-section a img {
    width: 100%;
    opacity: .8;
}

#work-section a:hover img {
    opacity: 1;
}

/* Home - contact-section*/
#contact-section {
    min-height: 75vh;
    background-color: var(--blk);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#contact-section a {
    width: 105px;
}

#contact-section p {
    max-width: 650px;
    padding-top: 40px;
}

/* Project - 1 - */
#project-1 article {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 30px;
    align-items: start;
    padding-bottom: 50px;
}

#project-mockups article h3 {
    grid-area: 1 / 1 / 2 / 4;
    color: var(--blk);
    border-bottom: 5px solid var(--blk);
}

#project-wireframes article h3 {
    grid-area: 1 / 1 / 2 / 4;
    color: var(--blu);
    border-bottom: 5px solid var(--blu);
}

#project-1 article:last-of-type {
    grid-template-columns: repeat(4, 1fr);
}

#project-1 article:last-of-type h3 {
    grid-area: 1 / 1 / 2 / 5;
}

/* Project - 2 - */
/* Project - 3 - */
.project-3-mockup {
    grid-area: 2 / 1 / 3 / 3;
    max-width: 1024px;
    justify-self: center;
}

.project-3-buttons {
    padding-top: 50px;
}

/* Project - 4 - */
#project-4 #project-mockups .heading {
    grid-area: 1 / 1 / 2 / 5;
}

#project-4 #project-mockups {
    grid-template-columns: repeat(4, 1fr);
}

.project-4-gif {
    grid-area: 2 / 1 / 3 / 3;
    max-width: 500px;
    justify-self: center;
}

/* Project - 5 - */
